/* Apps Labels */

.apps-labels {
  border-bottom: 1px solid #dbdbdb;
  overflow-x: auto;
}

.apps-labels.is-alternative-design {
  border-bottom: 1rem solid #00b9fc;
}

.labels-list {
  list-style: none;
  display: flex;
}

.app-label {
  padding: 1.2rem 3rem;
}

.is-alternative-design .app-label {
  background-color: var(--alternative-app-label-background);
  border: 1px solid var(--white-color);
}

.app-label:first-child {
  border-left: 0;
}

.app-label:last-child {
  border-right: 0;
}

.app-label:hover {
  background-color: var(--app-label-background);
}

.is-alternative-design .app-label:hover {
  background-color: var(--alternative-app-label-background-active);
}

.app-label.active-app {
  border-bottom: 1px solid var(--app-label-color-active);
}

.is-alternative-design .app-label.active-app {
  background-color: var(--alternative-app-label-background-active);
  border-bottom: 1px solid var(--white-color);
}

.app-label a {
  font-style: normal;
  font-size: 2rem;
  color: var(--app-label-color);
  text-align: center;
  text-decoration: none;
}

.is-alternative-design .app-label a {
  color: var(--alternative-app-label-color);
}

.app-label.active-app a {
  color: var(--app-label-color-active);
}

.is-alternative-design .app-label.active-app a {
  color: var(--alternative-app-label-color);
}
